:root {
    --navigation-panel-bg: #222;
    --top-panel-bg: #333;
}

.navigation-panel {
    position: fixed;
    left: 0;
    top: 0;

    width: 400px;
    height: 100vh;

    overflow-y: auto;

    padding: 80px 40px;

    border-right: 5px solid rgba(255, 255, 255, 0.1);

    background: var(--navigation-panel-bg);
    box-shadow: 20px 0 20px rgba(255, 255, 255, 0.02);

    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.navigation-panel a {
    display: inline-block;

    text-decoration: none;
    color: #ccc;

    transition: 0.5s ease;
}

.navigation-panel a:hover {
    color: #fff;
}

.nav-group {
    display: flex;
    flex-direction: column;
}

.nav-children {
    display: flex;
    flex-direction: column;

    padding: 10px;
    padding-left: 20px;
}

main {
    margin-left: 450px;
}

.top-panel {
    display: none;
}

@media (max-width: 1440px) {
    .navigation-panel {
        opacity: 0;
        pointer-events: none;
    }

    .navigation-panel.open {
        opacity: 1;
        pointer-events: auto;
        box-shadow: 20px 0 20px rgba(0, 0, 0, 0.5);

        min-width: 40vw;
        max-width: 90vw;
    }

    .navigation-overlay {
        opacity: 0;
        pointer-events: none;

        transition: opacity 0.5s ease;
    }

    .navigation-overlay.open {
        opacity: 1;
        pointer-events: auto;

        display: flex;
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        box-shadow: inset 0 0 20px rgba(0, 0, 0);

        backdrop-filter: blur(2px);
        cursor: pointer;
    }

    .top-panel {
        background: var(--top-panel-bg);

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        position: relative;

        padding: 50px;
    }

    .top-panel .buttons {
        position: absolute;
        width: 100%;
        height: 100%;

        padding: 50px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .top-panel .buttons button {
        background: none;
        border: none;
        cursor: pointer;
    }

    .top-panel .buttons button img {
        max-width: 50px;
    }

    .top-panel h1 {
        text-align: center;
        font-size: 25px;
    }

    main {
        margin-left: 0;
    }
}
